@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  list-style: none;
  text-decoration: none;
}
html {
  font-size:62,5%;
}

.wrap{
  width: 100%;
  margin: 0 auto;
}
/* HEADER STYLING */
.wrap-header{
  width: 95%;
  height: 5.4rem;
  display: flex;

  align-items: center;
  justify-content: space-between;

  border-bottom: .0625rem solid #45454521;
  margin: 0 auto;
}

.logo-conteiner{
  width: 30%;
   display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2.5rem;
 animation-delay: 2s;
}


.list-item{
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: #42454A;
text-align: center;
font-family: Ubuntu;
font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.list-item:hover{
  font-weight: 700;
}

.list-item>span{
  margin-left: .625rem;
  display: inline-block;
  width: 1.55rem;
  height: 1.25rem;
  background-image: url(../public/images/drop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position:bottom;
}

.log-but{
display: flex;
gap : 1.5rem;
}
.in{
  width: 10.6rem;
height: 4.8rem;

  border-radius: 0.4rem;
background: inherit;
box-shadow: 0px 12px 25px 10px rgba(0, 0, 0, 0.01);
border: none;

color: #42454A;
text-align: center;

font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.in:hover{
  cursor: pointer;
  background: #42454A;
  color:#fff;
}

/* HERO STALING */

.wrap-hero{
  width: 100%;
  margin: 0 auto;
  position: relative;

  display: flex;
}

.hero-title{
  color: #42454A;
font-family: Ubuntu;
font-size: 7rem;
font-style: normal;
font-weight: 300;
line-height: 7.5rem; /* 105.556% */
letter-spacing: 0.09rem;
text-transform: uppercase;

width: 48.6rem;
margin-bottom: 2.5rem;
}
.hero-info{
margin-left: 5vh;

}
.hero-info>span{
  display: inline-block;
  width: 26.5rem;
  height: 0.2rem;
  /* flex-shrink: 0; */
  background: #42454A;
  margin-bottom: 2.8rem;

 

}
.hero-title>span{
font-weight: 700;
}

.hero-text{
  color: #42454A;
font-family: Ubuntu;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 2.2rem; /* 154.545% */
letter-spacing: 0.022rem;
margin-bottom: 5rem;
}

.hero-cont{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
  width: 37rem;
}

.hero-btn{
  color: #17181A;
  font-family: Ubuntu;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem; /* 160% */
  letter-spacing: 0.04rem;
  border: none;
  background-color: inherit;
  display: contents;
  cursor: pointer;

}
.hero-btn::before{
  width: 2.5rem;
  height: 2.5rem;
  content: '';
  display: inline-block;
  background-image: url(../public/images/Hero/iconbut.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;
}

.hero-cont>p{
  color: #414449;
font-family: Ubuntu;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 1.7rem; /* 138.889% */
letter-spacing: 0.01rem;
}

.imag-side{
  position: absolute;
  right: 0rem;
  top: 0rem;

  background-image: url(../public/images/Hero/bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.hero-section{
  position: relative;
 
  display: flex;
}

.hero-section>p{
  font-family: Calistoga;
font-size: 10rem;
font-style: normal;
font-weight: 400;
line-height: 18rem; /* 153.333% */
letter-spacing: 0.15rem;
color: #fff;
text-shadow: 0px 0px 2px #0b0b0b;
position: absolute;
right: 14rem;
}


.hero-btn__left{
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url(../public/images/Hero/arrowsLeft.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  background-color: inherit;
  cursor: pointer;
  position: absolute;
  right: 10rem;
  bottom: -10rem;
}

.hero-btn__right{
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url(../public/images/Hero/arrowsRight.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  background-color: inherit;
  cursor: pointer;
  position: absolute;
  right: 7.7rem;
  bottom: -10rem;
  
}
.hero-footer{
  width: 90vw;
  margin: 300px auto;
 margin-left: 5%;
  
}
.hero-list{
  width: 100%;
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: space-between;
}

.hero-item{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
}
.hero-item__title{
  color: #42454A;
text-align: center;
font-family: Ubuntu;
font-size: 4rem;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 4rem */
}
.hero-item__title>span{
  color: #42454A;
font-family: Ubuntu;
font-size: 1.8rem;
font-style: normal;
font-weight: 700;
line-height: 100%;
}
.hero-item__text{
  color: #42454A;
text-align: center;
font-family: Ubuntu;
font-size: 1.3rem;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 1.69rem */
}

/* PRODUCT STYLING */
.wrap-product{
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  flex-direction: column;
  flex-wrap: nowrap;
}
.prod-header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  flex-direction: column;
}
.product-title{
  color: #42454A;
  text-align: center;
  font-family: Ubuntu;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 6rem */
}
.product-text{
  color: #42454A;
text-align: center;
font-family: Ubuntu;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 2.8rem */
}
.prod-info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12rem;
}
.prod-list{
  width:30vw;
}
.prod-item{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content:flex-start ;
  gap: .5rem;
  margin-bottom: 2rem;
}